<div class="d-flex flex-column justify-content-center align-items-center">
  <div style="font-size: 130px">
    <mat-icon
      aria-hidden="false"
      aria-label="Example home icon"
      fontIcon="visibility_off"
      style="
        font-size: 100%;
        color: black;
        margin-left: -65px;
        margin-bottom: -40px;
      "
      >visibility_off</mat-icon
    >
  </div>
  <h3>You are currently Offline</h3>
  <p>Kindly click below to start taking calls</p>
  <button class="btn btn-primary" (click)="onGoOnline()">Go online</button>
</div>
