.cq-button-list .active {
  border-radius: 3px;
  background-color: white;
  border: 2px solid green !important;
}

.cq-button-list button {
  border-radius: 3px;
  background-color: white;
  border: 2px solid black;
}

#pills-scheduled-tab,
#pills-assigned-tab {
  border-radius: 3px;
  background-color: white;
  border: 2px solid black;
}
