<div
  style="width: 100%"
  class="d-flex flex-column justify-content-center align-items-center mt-4"
>
  <h4>Alok Kumar</h4>
  <p>APPID02882346378</p>
  <div style="font-size: 130px">
    <mat-icon
      aria-hidden="false"
      aria-label="Example home icon"
      style="font-size: 130px; color: black; width: 130px; height: 130px"
      >account_circle</mat-icon
    >
  </div>
  <p>Waiting since: <span style="color: red">00:45</span></p>
  <button class="btn btn-outline-dark" (click)="onInitiateCall()">
    Initiate Call
  </button>
</div>
