<div
  style="height: 55%"
  class="d-flex flex-column justify-content-between align-items-center"
>
  <div>
    <p class="fs-5 fw-semibold mt-2">Daily Activity</p>
  </div>
  <div class="text-center total-calls-div">
    <h4 class="fw-semibold">31</h4>
    <h5 class="fw-semibold">Total calls</h5>
  </div>
</div>
<div
  style="height: 45%"
  class="d-flex align-items-center justify-content-center call-count-summary"
>
  <ul style="list-style-type: circle; color: blue">
    <li><a>Approved</a><span style="margin-left: 25px">25</span></li>
    <li><a>Rejected</a><span style="margin-left: 25px">03</span></li>
    <li><a>Issue</a><span style="margin-left: 25px">01</span></li>
    <li><a>On Hold</a><span style="margin-left: 25px">02</span></li>
  </ul>
</div>
